#features .section-header {
  margin-top: 33px; }
#features .feature-box {
  padding: 0;
  margin-top: 45px;
  margin-bottom: 30px; }
  #features .feature-box img {
    width: 50px;
    height: 50px;
    margin-right: 20px; }
  #features .feature-box h3 {
    color: #ffffff;
    font-family: SVN-Gilroy;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px; }
  #features .feature-box p {
    font-family: SVN-Gilroy;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 16px; }
