#modal .modal-dialog-centered .modal-content {
  box-shadow: 8px 10px 15px 2px #00000066;
  min-height: 313px;
  transition: 0.3s;
  position: relative;
  box-sizing: border-box;
  color: #fff;
  background: #001e60;
  background-clip: padding-box;
  border: solid 2px transparent;
}
#modal .modal-dialog-centered .modal-content:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: linear-gradient(
    to right,
    #00b0f0 0%,
    #01386e 24.79%,
    #009af5 50.86%,
    #01386e 76.11%,
    #009fdc 100%
  );
}
#modal .modal-dialog-centered .modal-content .modal-header {
  border: none;
}
#modal .modal-dialog-centered .modal-content .modal-body .modal-title {
  background: url(../img/line.png) bottom center no-repeat;
  background-size: 85% 2px;
  padding-bottom: 11px;
  color: #fff;
  font-family: Constructio Grotesk;
  font-size: 36px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0.1em;
  text-align: center;
  width: fit-content;
  margin: auto;
}
#modal
  .modal-dialog-centered
  .modal-content
  .modal-body
  #modal-images-container {

  margin: 0 82px 30px;
}
#modal
  .modal-dialog-centered
  .modal-content
  .modal-body
  #modal-images-container
  .item-image {
  margin-top: 24px;
}
@media (min-width: 992px) {
  #modal .modal-dialog {
    min-width: 960px;
  }
}


