.ct-portfolio .container .section-header {
  margin: 0 auto;
  text-align: center;
}

.ct-portfolio .container .section-header .title {

  margin: 0 auto;
}

.ct-portfolio .container img {
  width: 150px;
  height: 125px;
}

.ct-portfolio .container span.text-50-plus {
  font-family: "SVN-Gilroy";
  font-size: 7rem;
  font-weight: 900;
  line-height: 73.5px;
  text-align: left;
}


@media (max-width: 1024px) {
  .ct-portfolio .container .section-header .h1-title {
    padding-bottom: 8px;
  }
}

@media (max-width: 768px) {

  .ct-portfolio .container .section-header .h1-title {
    padding-bottom: 5px;
    background-size: 65% 2px;
  }

  .ct-portfolio .container img {
    width: 90px;
    height: 75px;
  }
}