/* 
# font
*/
@font-face {
    font-family: 'Constructio Grotesk';
    src: url('../font/DFVN Constructio Grotesk.otf') format('opentype');
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/Font SVN Gilroy/SVN-Gilroy Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/Font SVN Gilroy/SVN-Gilroy Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/Font SVN Gilroy/SVN-Gilroy Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/Font SVN Gilroy/SVN-Gilroy Bold Italic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Constructio Grotesk', sans-serif;
    color: #fff;
    background-color: #000A39;
    font-size: 1.6rem;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #717ff5;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Constructio Grotesk", sans-serif;
}

/*--------------------------------------------------------------
  # Sections
  --------------------------------------------------------------*/
section {
    padding: 80px 0 60px;
    overflow: hidden;
}

.section-header {
    text-align: center;
    padding-bottom: 40px;
}

.section-header h2 {
    color: #fff;
    font-family: "Constructio Grotesk";
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 6.7rem;
    letter-spacing: 0.1em;
    text-align: left;
}

.section-header h2.title {
    margin: 0;
    padding: 0;
    background: url(../img/line.png) bottom center no-repeat;
    background-size: 85% 2px;
    padding-bottom: 11px;
    width: fit-content;

    color: #fff;
    font-family: "Constructio Grotesk";
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 6.7rem;
    letter-spacing: 0.1em;
    text-align: left;

    text-transform: uppercase;
}

.section-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 3.8rem;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
}

@media (max-width: 991px) {

    .section-header h2,
    .section-header h2.title {
        font-size: 3.6rem;
        line-height: 5.4rem;
    }

    .section-header p {
        font-size: 2.8rem;
        line-height: 33px;
    }
}

@media (max-width: 768px) {

    .section-header h2,
    .section-header h2.title {
        font-size: 2.8rem;
        line-height: 4.2rem;
    }

    .section-header p {
        font-size: 2.4rem;
        line-height: 28px;
    }
}

/*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: #1568eb;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 2.4rem;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #6776f4;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
.header {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
}

.header.header-scrolled {
    background: #000A39;
    padding: 15px 0;
    box-shadow: 0px 2px 20px rgba(47, 96, 181, 0.2);
}

.header .logo {
    line-height: 0;
}

.header .logo img {
    max-height: 123px;
    margin-right: 6px;
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/**
  * Desktop Navigation 
  */
.navbar {
    padding-right: 0;
}

.navbar ul {
    margin: 0;
    padding-right: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
    letter-spacing: 2px;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 65px;
    font-family: "Constructio Grotesk", sans-serif;
    font-family: Constructio Grotesk;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 0.05em;
    text-align: left;

    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 1.2rem;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #4154f1;
}

/**
  * Mobile Navigation 
  */
.mobile-nav-toggle {
    color: #fff;
    font-size: 3.2rem;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 1200px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }

    .header .logo img {
        max-height: 6rem;
    }
}

@media (max-width: 768px) {
    .header .logo img {
        max-height: 5rem;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(1, 22, 61, 0.9);
    transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 1.6rem;
    color: #012970;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #4154f1;
}


/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
.hero {
    width: 100%;
    height: 100vh;
    background: url(../img/hero-bg-1.png) top center no-repeat;
    background-size: cover;
    letter-spacing: 4px;
}

.hero h1 {
    margin: 0;
    font-family: Constructio Grotesk;
    font-size: 5.6rem;
    font-weight: 400;
    line-height: 6.7rem;
    letter-spacing: 0.1em;
    text-align: left;
    color: #119FF4;
}

.hero h2 {
    color: #fff;
    font-family: Constructio Grotesk;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 6.7rem;
    letter-spacing: 0.1em;
    text-align: left;

}

.hero h3 {
    color: #fff;
    font-family: Constructio Grotesk;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 6.7rem;
    letter-spacing: 0.1em;
    text-align: left;
}

@media (min-width: 1024px) {
    .hero {
        height: 922px;
    }

    .hero .container {
        margin-top: -8%;
    }
}

@media (max-width: 991px) {
    .hero {
        height: auto;
        padding: 120px 0 60px 0;
    }

    .hero h1 {
        font-size: 4.8rem;
        line-height: 5.7rem;
    }

    .hero h2 {
        font-size: 3.0rem;
        line-height: 4.5rem;
    }

    .hero h3 {
        font-size: 2.8rem;
        line-height: 4.2rem;
    }
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 4.0rem;
        line-height: 4.8rem;
    }

    .hero h2 {
        font-size: 2.4rem;
        line-height: 3.6rem;
    }

    .hero h3 {
        font-size: 2.0rem;
        line-height: 3.0rem;
    }
}

@media (max-width: 425px) {
    .hero h1 {
        font-size: 3.2rem;
        line-height: 4rem;
    }

    .hero h2 {
        font-size: 2rem;
    }

    .hero h3 {
        font-size: 1.8rem;
    }
}

.section-1 {
    width: 100%;
    height: auto;
    background: url(../img/section-1-bg.png) top center no-repeat;
    background-size: cover;
    padding: 0px;
    margin-top: 61px;
    background-position-y: 62px;
}

.about {
    padding: 0px;
}

.about .content {
    background-color: rgba(0, 30, 96, 0.5);
    padding: 40px 140px;
    border: 1px solid #00B0F0;
    border-radius: 5px;
    text-align: center;
}


@media (max-width: 991px) {
    .about .content {
        padding: 40px;
        text-align: justify;
    }
}

/* @media (max-width: 991px) {
    .hero {
        height: auto;
        padding: 120px 0 60px 0;
    }
} */

@media (max-width: 480px) {
    .about .content {
        height: auto;
        padding: 20px;
        text-align: justify;
    }

    .about .content>h1 {
        font-size: 2.6rem;
    }
}

.about .h1-title {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../img/line.png) bottom center no-repeat;
    background-size: 85% 2px;
    padding-bottom: 11px;
    padding-top: 62px;

    font-family: Constructio Grotesk;
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 6.7rem;
    letter-spacing: 0.1em;
    text-align: left;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about p {
    margin: 15px 0 30px 0;
    line-height: 24px;
    padding-top: 70px;

    font-family: SVN-Gilroy;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-align: center;
}

@media (max-width: 991px) {
    .about .h1-title {
        font-size: 3.6rem;
        line-height: 5.4rem;
        padding-top: 50px;
        padding-bottom: 8px;
    }

    .about p {
        font-size: 14px;
        line-height: 20px;
        padding-top: 50px;
    }
}

@media (max-width: 768px) {
    .about .h1-title {
        font-size: 2.8rem;
        line-height: 4.2rem;
        padding-top: 40px;
        padding-bottom: 6px;
    }

    .about p {
        font-size: 12px;
        line-height: 18px;
        padding-top: 40px;
    }
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .section-header {
    text-align: left;
    padding-bottom: 0;
}

.features .h1-title {
    background: url(../img/line.png) bottom left no-repeat;
    background-size: 45% 2px;
    padding-bottom: 11px;

    font-size: 4.8rem;
    font-weight: 400;
    line-height: 67px;
    letter-spacing: 0.1em;
    text-align: left;
}

.features .feature-box {
    padding: 24px 20px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
    height: 100%;
}

.features .feature-box h3 {
    font-size: 1.8rem;
    color: #012970;
    font-weight: 700;
    margin: 0;
}

.features .feature-box i {
    line-height: 0;
    background: #ecf3ff;
    padding: 4px;
    margin-right: 10px;
    font-size: 2.4rem;
    border-radius: 3px;
    transition: 0.3s;
}

.features .feature-box:hover i {
    background: #4154f1;
    color: #fff;
}

.features .feture-tabs {
    margin-top: 120px;
}

.features .feture-tabs h3 {
    color: #012970;
    font-weight: 700;
    font-size: 3.2rem;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .features .feture-tabs h3 {
        font-size: 2.8rem;
    }
}

.features .feture-tabs .nav-pills {
    border-bottom: 1px solid #eee;
}

.features .feture-tabs .nav-link {
    background: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    color: #012970;
    padding: 12px 0;
    margin-right: 25px;
    margin-bottom: -2px;
    border-radius: 0;
}

.features .feture-tabs .nav-link.active {
    color: #4154f1;
    border-bottom: 3px solid #4154f1;
}

.features .feture-tabs .tab-content h4 {
    font-size: 1.8rem;
    margin: 0;
    font-weight: 700;
    color: #012970;
}

.features .feture-tabs .tab-content i {
    font-size: 2.4rem;
    line-height: 0;
    margin-right: 8px;
    color: #4154f1;
}

.features .feature-icons {
    margin-top: 120px;
}

.features .feature-icons h3 {
    color: #012970;
    font-weight: 700;
    font-size: 3.2rem;
    margin-bottom: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .features .feature-icons h3 {
        font-size: 2.8rem;
    }
}

.features .feature-icons .content .icon-box {
    display: flex;
}

.features .feature-icons .content .icon-box h4 {
    font-size: 2.0rem;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: #012970;
}

.features .feature-icons .content .icon-box i {
    font-size: 4.4rem;
    line-height: 44px;
    color: #0245bc;
    margin-right: 15px;
}

.features .feature-icons .content .icon-box p {
    font-size: 1.5rem;
    color: #848484;
}


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
}

.team .member .member-img {
    position: relative;
    overflow: hidden;
}

.team .member .member-img:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-size: contain;
    z-index: 1;
}

.team .member .social {
    position: absolute;
    right: -100%;
    top: 30px;
    opacity: 0;
    border-radius: 4px;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.3);
    z-index: 2;
}

.team .member .social a {
    transition: color 0.3s;
    color: rgba(1, 41, 112, 0.5);
    margin: 15px 12px;
    display: block;
    line-height: 0;
    text-align: center;
}

.team .member .social a:hover {
    color: rgba(1, 41, 112, 0.8);
}

.team .member .social i {
    font-size: 1.8rem;
}

.team .member .member-info {
    padding: 10px 15px 20px 15px;
}

.team .member .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 2.0rem;
    color: #012970;
}

.team .member .member-info span {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    color: #aaaaaa;
}

.team .member .member-info p {
    font-style: italic;
    font-size: 1.4rem;
    padding-top: 15px;
    line-height: 26px;
    color: #5e5e5e;
}

.team .member:hover {
    transform: scale(1.08);
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.team .member:hover .social {
    right: 8px;
    opacity: 1;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .container {
    background: url('../img/bg-contact.png') center center no-repeat;
    background-size: contain;
}

.contact .section-header {
    background: url('../img/bg-text-contact.png') center center no-repeat;
    background-size: contain;
    padding: 40px 0;
    max-width: 848px;
    margin: 0 auto;
    background-position-y: 23px;
}

@media screen and (max-width: 767px) {
    .contact .section-header {
        background-position-y: 34px;
    }
} 
.contact .section-header h2.title {
    margin: auto;
}

.contact .php-email-form {
    background: transparent;
    padding: 30px;
    height: 100%;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {

    font-family: SVN-Gilroy;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #FFFFFF;

    border: 0.75px solid #FFFFFF;
    border-radius: 5px;

    background: transparent;

    padding: 18px;
}

.contact .php-email-form input::placeholder {
    color: #fff;
    opacity: 1;
    /* Firefox */
}

.contact .php-email-form input::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: #fff;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: #4154f1;
}

.contact .php-email-form input[type=text],
.contact .php-email-form input[type=email] {
    padding: 18px;
}

.contact .php-email-form textarea {
    padding: 18px;
}

.contact .php-email-form button[type=submit] {
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 5px;

    font-family: Constructio Grotesk;
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: 0.1em;

    background: #00B0F0;

}

@media screen and (max-width: 768px) {
    .contact .php-email-form button[type=submit] {
        font-size: 1.8rem;
    }
}

.contact .php-email-form button[type=submit]:hover {
    background: #5969f3;
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}