@charset "UTF-8";
/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials {
  padding-top: 0;
  margin-top: -20px; }
  .testimonials .testimonial-item {
    box-sizing: content-box;
    margin: 20px 0;
    border-radius: 5px;
    min-height: 313px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s;
    position: relative;
    color: #fff;
    background: #001e60;
    background-clip: padding-box;
    /* !importanté */
    border: solid 2px transparent;
    /* !importanté */ }
    .testimonials .testimonial-item:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -2px;
      /* !importanté */
      border-radius: inherit;
      /* !importanté */
      background: linear-gradient(to right, #00b0f0 0%, #01386e 24.79%, #009af5 50.86%, #01386e 76.11%, #009fdc 100%); }
    .testimonials .testimonial-item h3 {
      font-family: "Constructio Grotesk";
      font-size: 36px;
      font-weight: 400;
      line-height: 41px;
      letter-spacing: 0.1em;
      text-align: center; }
    .testimonials .testimonial-item h4 {
      font-family: "Constructio Grotesk";
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.05em;
      text-align: center;
      color: #00b0f0; }
    .testimonials .testimonial-item button {
      border-radius: 50px;
      font-family: "Constructio Grotesk";
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.05em;
      text-align: center;
      padding: 8px 32px; }
    .testimonials .testimonial-item p {
      font-style: italic;
      margin: 0 auto 15px auto; }
  .testimonials .swiper-slide {
    opacity: 0.7; }
  .testimonials .swiper-slide-next {
    z-index: 1; }

@media (max-width: 1199px) {
  .testimonials .swiper-slide-active {
    opacity: 1; }
  .testimonials .swiper-pagination {
    margin-top: 0; } }
@media (min-width: 1200px) {
  .testimonials .swiper-slide-next {
    opacity: 1;
    transform: scale(1.12); } }
