.our-team .container .section-header {
  margin-bottom: 40px;
}

.our-team .container .section-header .title {
 margin: auto;
}

.our-team .container .box {
  background: transparent;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 30px;
  position: relative;
}

.our-team .container .box:hover {
  transform: scale(1);
  box-shadow: none;
}

.our-team .container .box .featured {
  --border-color: none;
  --border-width: 0;
  --curve-size: 1.5rem;
  --blur: 30px;
  --bg: #00b0f0;
  --color: #ffffff;
  color: var(--color);
  /* use position: relative; so that BG is only for .featured */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 4px 8px;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  font-family: Constructio Grotesk;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 67px;
  letter-spacing: 0.1em;
  text-align: center;
  min-width: 191px;
  min-height: 56px;
  border: 0;
  text-transform: uppercase;
  clip-path: polygon(0% 0%, calc(100% - var(--curve-size)) 0%, 100% var(--curve-size), 100% 100%, var(--curve-size) 100%, 0 calc(100% - var(--curve-size)));
  transition: color 250ms;
}

.our-team .container .box .featured::after,
.our-team .container .box .featured::before {
  content: "";
  position: absolute;
  inset: 0;
}

.our-team .container .box .featured::before {
  background: var(--border-color);
  background-size: 300% 300%;
  z-index: -2;
}

.our-team .container .box .featured::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(var(--border-width) calc(var(--curve-size) + var(--border-width) * 0.5), calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width), calc(100% - var(--border-width)) var(--border-width), calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)), calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)), var(--border-width) calc(100% - var(--border-width)));
  transition: clip-path 500ms;
}

.our-team .container .box .featured:where(:hover, :focus)::after {
  clip-path: polygon(calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)), calc(100% - var(--border-width)) var(--border-width), calc(100% - var(--border-width)) var(--border-width), calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)), calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)), calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)));
  transition: 200ms;
}

.our-team .container .box .featured:where(:hover, :focus) {
  color: #fff;
}

.our-team .container .box .member-img {
  max-width: 336.67px;
  max-height: 500.5px;
}

.our-team .container .box .member-img .img-fluid {
  clip-path: polygon(100% 100%, 100% 100%, 100% 11.54%, 82.93% 0%, 0% 0%, 0% 88.46%, 17.66% 100%);
}

.our-team .container .box .member-info {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 0;
  padding-bottom: 24px;
  z-index: 2;
}

.our-team .container .box .member-info .member-info--title {
  font-family: Constructio Grotesk;
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .our-team .container .box .member-info .member-info--title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .our-team .container .box .member-info .member-info--title {
    font-size: 2.6rem;
  }
}

@media screen and (max-width: 576px) {
  .our-team .container .box .member-info .member-info--title {
    font-size: 2rem;
  }  
}

.our-team .container .box .member-info .socials {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 16px;
  margin-bottom: 24px;
}

.our-team .container .box .member-info .socials img {
  width: 40px;
  height: 40px;
}

.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  /* Ensures the cut corners are not visible outside the container */
}

.image-container img {
  display: block;
  /* Removes bottom space/gap under the image */
  width: 100%;
  /* Adjust based on your needs */
  height: auto;
  /* Adjust based on your needs */
  z-index: 1;
  /* Ensures the image is at the bottom layer */
  position: relative;
}

.gradient-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50%;
  /* Adjust this to control where the gradient starts */
  background: linear-gradient(179.99deg, rgba(0, 176, 240, 0) 0.29%, #00b0f0 91.11%, #00b0f0 91.12%);
  z-index: 2;
  /* Ensures the gradient is above the image but below the cut corners */
}